<div class="form-group" id="clust-from-group">
    <h4>Алгоритм кластеризации</h4>
    <div class="btn-group" data-toggle="buttons" id="clust-alg">
        <label class="btn btn-info active">
            <input type="radio" name="options" id="kmeans" autocomplete="off" checked>K-Means
        </label>
        <label class="btn btn-info">
            <input type="radio" name="options" id="aff_prop" autocomplete="off">Affinity Propagation
        </label>
    </div>
</div>
<div class="form-group">
    <input type="text" class="form-control" id="clust-count" placeholder="Введите количество кластеров">
</div>