{% extends "layout.html" %} {% set active_page = "vectorization" %} {% block body %}
<h2>Векторизация коллекции документов</h2>
<form id="vectorization">
    <div class="row">
        <div class="col-md-8">
            {% include 'pages/components/news_select.html' %}
        </div>
        <div class="col-md-4">
            {% include 'pages/components/vect_algoritm.html' %}
            {% include 'pages/components/words_count.html' %}
            <button type="submit" class="btn btn-success">Вычислить</button>
        </div>
    </div>
</form>
<div class="row" id="vect_res_block">
    <h4>Результаты векторизации:</h4>
    <div id="res_info"></div>
    <div id="res_matrix"></div>
</div>
{% endblock %}